RewriteEngine On

#Pages
RewriteRule ^accueil$ /index.php
RewriteRule ^signaler$ /views/report.php

#Users
RewriteRule ^inscription$ /controllers/users/registerController.php
RewriteRule ^connexion$ /controllers/users/loginController.php
RewriteRule ^profil$ /controllers/users/profileController.php
# RewriteRule ^modifier_mon_profil$ /views/users/update_profil.php
RewriteRule ^deconnexion$ /controllers/users/logoutController.php

#Classes
RewriteRule ^liste-des-classes$ /controllers/classes/classesListController.php

#Bestiaire
RewriteRule ^monstres$ /controllers/bestiaire/bestiaireListController.php

#Quest
RewriteRule ^quetes$ /controllers/questController/questController.php