#Changement de l'url

RewriteEngine On

#Pages
RewriteRule ^accueil$ /index.php
RewriteRule ^signaler$ /views/report.php

#Users
RewriteRule ^inscription$ /controllers/users/registerController.php
RewriteRule ^connexion$ /controllers/users/loginController.php
RewriteRule ^profil$ /controllers/users/profileController.php
RewriteRule ^modifier-profil$ /controllers/users/updateProfilController.php
RewriteRule ^deconnexion$ /controllers/users/logoutController.php

#Classes
RewriteRule ^liste-des-classes$ /controllers/classes/classesListController.php

#Bestiaire
RewriteRule ^monstres$ /controllers/bestiaire/bestiaireListController.php

#Quest
RewriteRule ^quetes$ /controllers/questController/questController.php
RewriteRule ^dofus-pourpre$ /controllers/questController/dofus-pourpreController.php
RewriteRule ^dofus-emeraude$ /controllers/questController/dofus-emeraudeController.php
RewriteRule ^questions$ /controllers/questController/questionsController.php
RewriteRule ^questionsliste$ /controllers/questController/questionsListeController.php