RewriteEngine On

RewriteRule ^Accueil$ /index.php

RewriteRule ^Inscription$ /controllers/users/registerController.php

RewriteRule ^Connexion$ /controllers/users/loginController.php

RewriteRule ^Signaler-un-problème$ /views/report.php