.cardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%;
}

.card {
  border: 1px $yellow solid;
  border-radius: 3px;
  position: relative;

  img {
    display: block;
    height: auto;
    width: 100%;
  }

}


.card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: $dark;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card:hover .card-overlay {
  opacity: 0.8;
}

.card-text {
  color: white;
  padding: 2%;

  p {
    padding: 0.2rem;
    margin: 0;
    text-align: center;
  }

  .questbutonstat{
    margin: 0;
    padding-top: 0.2rem;

    .btn {
      background-color: $brown;
      border: 1px $yellow solid;
    }
  }

  #fontsize {
    font-size: 0.8rem;
  }
}