#index {
    background-color: #F8E1B7;
    background-image: url("../images/fond-dofus.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#test {
    background-color: #d4af3754;
}